
extends ../layout

mixin player(color, number)
  li.form-control.d-flex.justify-content-left(id=`draft-${color}${number}`, data-id=`${color}${number}`)
    div.col-sm-2(id=`draft-${color}${number}-champion`)
    div.col(id=`draft-${color}${number}-name`) Player #{number}

block content
  h2 Upload Replay
  hr

  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(id='draft-result-blue', type='hidden', name='draftResultBlue', value='')
    input(id='draft-result-red', type='hidden', name='draftResultRed', value='')
    .form-group.row.justify-content-md-center
      div(id='draft-player-data', style='display:none;') #{JSON.stringify(players)}
      p.offset-sm-3.col-sm-7 Please finish filling in the information for your uploaded replay:
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='mode') Was there a draft?
      .col-sm-7
        script.
          function checkDraft(value) {
              var element1 = document.getElementById("draft-row-1");
              var element2 = document.getElementById("draft-row-2");
              if (value === "draft") {
                  element1.style.display = "flex";
                  element2.style.display = "flex";
              }
              else {
                  element1.style.display = "none";
                  element2.style.display = "none";
              }
          }
        select.form-control#draftSelection(name="toDraft" onchange='checkDraft(this.value);', required)
          option(hidden, disabled, selected, value) Select an option
          option(value="draft") Yes
          option(value="nodraft") No/Unsure
    .form-group.row.justify-content-md-center(id="draft-row-1" style="display:none;")
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='draft') Draft
      ul.col-sm-1
        li.form-control.border-0 Pick
      ul.col-sm-3
        li.form-control
          label(for="draft-blue-radio") Blue Team (
          input(type="radio",id="draft-blue-radio", name="draftRadio", value="blue")
          label(for="draft-blue-radio") &nbsp;First Pick)
      ul.col-sm-3
        li.form-control
          label(for="draft-red-radio") Red Team (
          input(type="radio",id="draft-red-radio", name="draftRadio", value="red")
          label(for="draft-red-radio") &nbsp;First Pick)
    .form-group.row.justify-content-md-center(id="draft-row-2" style="display:none;")
      label.col-sm-3.col-form-label.text-right.font-weight-bold
      ul.col-sm-1
        li.form-control.border-0 Captain
        li.form-control.border-0 1st
        li.form-control.border-0 2nd
        li.form-control.border-0 3rd
        li.form-control.border-0 4th
      ul.col-sm-3(id="draft-blue-sortable")
        each val in ["1", "2", "3", "4", "5"]
          +player("blue", val)
      ul.col-sm-3(id="draft-red-sortable")
        each val in ["1", "2", "3", "4", "5"]
          +player("red", val)
    .form-group.row.justify-content-md-center
      .row.offset-sm-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit', name='submit')
          i.fa.fa-upload
          | Upload
        .col-sm-1
        button.col-sm-3.btn.btn-danger(type='submit', name='cancel', formnovalidate)
          i.fa.fa-ban
          | Cancel
  script(src="/js/react/champion-icon.js")
  script(src="/js/upload/continue.js")