extends ../../layout

block content
  h2 #{stats.summoner} - Summoner Stats
  hr
  p Winrate: #{stats.winrate}
  p Wins: #{stats.wins}
  p Losses: #{stats.losses}
  br
  p KDA: #{stats.kda}
  p Kills: #{stats.kills}
  p Deaths: #{stats.deaths}
  p Assists: #{stats.assists}