mixin summonerStatsStyle(size)
  style.
    @media (max-width: 575.98px) {
      .stat-column {
        max-width: #{size}px;
      }
    }

    @media (min-width: 576px) and (max-width: 767.98px) {
      .stat-column {
        min-width: #{size}px;
        width: #{size}px;
        max-width: #{size}px;
      }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      .stat-column {
        min-width: #{size * 2}px;
        width: #{size * 2}px;
        max-width: #{size * 2}px;
      }
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
      .stat-column {
        min-width: #{size * 2}px;
        width: #{size * 2}px;
        max-width: #{size * 2}px;
      }
    }

    @media (min-width: 1200px) {
      .stat-column {
        min-width: #{size * 4}px;
        width: #{size * 4}px;
        max-width: #{size * 4}px;
      }
    }

    .summoner-stats-tile-profile {
      min-width: 200px;
      width: 200px;
      max-width: 200px;
    }
    .summoner-stats-tile-profile .card-body {
      padding: 0.5rem;
    }
    .summoner-stats-tile {
      min-width: #{size}px;
      width: #{size}px;
      max-width: #{size}px;
    }
    @media (max-width: 575.98px) {
      .summoner-stats-tile {
        min-width: 0px;
        width: 100%;
        max-width: #{size}px;
      }
    }
    .summoner-stats-tile .card-body {
      padding: 0.5rem;
    }
    .card {
      border: 1px solid rgba(0, 0, 0, 0.2);
      background: #c0e0ff;
    }